* {
  box-sizing: border-box;
}
wrapper {
position: relative;
width: 1920px;
height: 4200px;

background: #FFFFFF;
}

.fejlec{
position: absolute;
width: 1920px;
height: 160px;
left: 0px;
top: 0px;
}

.alap {
position: absolute;
width: 1920px;
height: 160px;
left: 0px;
top: 0px;

background: #212121;
}

.alap #number {
position: absolute;
width: 112px;
height: 20px;
left: 50px;
top: 44px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-transform: uppercase;

color: #A6A6A6;
}

.alap #kapcsolat {
position: absolute;
width: 57px;
height: 15px;
left: 200px;
top: 47px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: #FFFFFF;
}

.alap #pix11 {
position: absolute;
width: 1px;
height: 17px;
left: 272px;
top: 47px;

background: #5C5C5C;
}

.alap #rolunk {
position: absolute;
width: 40px;
height: 15px;
left: 287px;
top: 47px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;

}

.alap #pix12 {
position: absolute;
width: 1px;
height: 17px;
left: 341px;
top: 47px;

background: #5C5C5C;
}

.alap #fizz_szall {
position: absolute;
width: 91px;
height: 15px;
left: 356px;
top: 47px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;
}

.alap #nyil {

position: absolute;
width: 9px;
height: 5.23px;
left: 452.86px;
top: 47px;

color: #FFFFFF;

}

.alap #teszttema {
position: absolute;
width: 203px;
height: 45px;
left: 856px;
top: 30px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #F67DA1;


}

.alap #pix13  {
/* 1px */
position: absolute;
width: 240px;
height: 1px;
left: 1421px;
top: 73px;

background: #5C5C5C;

}

.alap #kereses {
/* keresés... */

position: absolute;
width: 65px;
height: 18px;
left: 1426px;
top: 46px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.05em;

color: #767676;


}

.alap #nav {
position: absolute;
width: 1298px;
height: 20px;
left: 308px;
top: 124px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.elony_sav {
position: absolute;
width: 1920px;
height: 60px;
left: 0px;
top: 160px;

}

.elony_sav img {
position: absolute;
width: 22.64px;
height: 26px;
left: 777px;
top: 17px;
}

.elony_sav #kiz {
position: absolute;
width: 324px;
height: 18px;
left: 819px;
top: 22px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #F67DA1;
}

.nagyban_1 {
position: absolute;
width: 1921px;
height: 3601px;
left: 1px;
top: 220px;

}

.alap2 {
position: absolute;
width: 1920px;
height: 700px;
left: 1px;
top: 0px;

background: #FEDFE9;
}

.nagyban {
position: absolute;
width: 1920px;
height: 700px;
left: 2px;
top: 0px;
}

.alap3 {
position: absolute;
width: 1920px;
height: 700px;
left: 2px;
top: 0px;

background: #FEE1E6;
}

.alap3 #shutter {
position: absolute;
width: 1200px;
height: 1200px;
left: 722px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1477405955.png);
}

.alap3 #grad {
position: absolute;
width: 250px;
height: 700px;
left: 722px;
top: 0px;

background: linear-gradient(270deg, rgba(254, 223, 233, 0) 0%, #FEDFE9 100%);
}

.alap2 #head {
position: absolute;
width: 441px;
height: 130px;
left: 178px;
top: 253px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 130px;
/* identical to box height, or 100% */

text-transform: uppercase;

color: #212121;
}

.alap2 #mess {
position: absolute;
width: 580px;
height: 74px;
left: 185px;
top: 400px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #BA8B88;
}

.alap2 .button {
position: absolute;
width: 210px;
height: 50px;
left: 186px;
top: 506px;

background: #212121;
}

.button #bttn_text {
position: absolute;
width: 77px;
height: 18px;
left: 49px;
top: 17px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}

.button #bttn_arr {
position: absolute;
width: 9.35px;
height: 17px;
left: 143px;
top: 20px;

color: #FFFFFF;
}

.alap2 #angle_l {
position: absolute;
width: 30px;
height: 17.44px;
left: 39px;
top: 335px;

color: #212121;
}

.alap2 #angle_r {
position: absolute;
width: 30px;
height: 17.44px;
left: 1883px;
top: 335px;

color: #212121;
}

.mozaik {
position: absolute;
width: 1780px;
height: 820px;
left: 71px;
top: 990px;

}

.kozbanl {
position: absolute;
left: 0%;
right: 50.56%;
top: 0%;
bottom: 51.22%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1667920105.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.kisbanl1 {
position: absolute;
left: 0%;
right: 75.84%;
top: 51.22%;
bottom: 0%;
background-repeat: no-repeat;
background: url(img/shutterstock_1354457348.jpg);
}

.kisbanl2 {
position: absolute;
left: 25.28%;
right: 50.56%;
top: 51.22%;
bottom: 0%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1377250259.png);
}

.kisbanr1 {
position: absolute;
left: 50.56%;
right: 25.28%;
top: 0%;
bottom: 51.22%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1020418684.png);
}

.kisbanr2 {
position: absolute;
left: 75.84%;
right: 0%;
top: 0%;
bottom: 51.22%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1710322954.png);
}

.kozbanr {
position: absolute;
left: 50.62%;
right: -0.06%;
top: 51.22%;
bottom: 0%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1310794589.png);
}

.image {
position: absolute;
left: 90.06%;
right: -0.45%;
top: 0px;
bottom: -16.95%;
background-repeat: no-repeat;
background-image: url(img/image.png);
filter: blur(84px);
}

.akcios {
position: absolute;
width: 1780px;
height: 974px;
left: 70px;
top: 1956px;
}

.akcios #akcterm {
position: absolute;
width: 251px;
height: 26px;
left: 835px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 26px;
/* identical to box height, or 93% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

.snap1 {
position: absolute;
width: 400px;
height: 400px;
left: 70px;
top: 104px;

background-image: url(img/image_21.jpg);
}

#head1 {
position: absolute;
width: 340px;
height: 52px;
left: 100px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text1 {
position: absolute;
width: 340px;
height: 74px;
left: 100px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rating1 {
position: absolute;
width: 173px;
height: 28px;
left: 184px;
top: 688px;

background: #BA8B88;
}

#value1 {
position: absolute;
width: 158px;
height: 22px;
left: 190px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapfirst>button {
position: absolute;
width: 160px;
height: 50px;
left: 190px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.snap2 {
position: absolute;
width: 400px;
height: 400px;
left: 530px;
top: 104px;

background-image: url(img/image_22.jpg);
}

#head2 {
position: absolute;
width: 340px;
height: 52px;
left: 560px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text2 {
position: absolute;
width: 340px;
height: 74px;
left: 560px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rating2 {
position: absolute;
width: 173px;
height: 28px;
left: 644px;
top: 688px;

background: #BA8B88;
}

#value2 {
position: absolute;
width: 158px;
height: 22px;
left: 650px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapsec>button {
position: absolute;
width: 160px;
height: 50px;
left: 650px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.snap3 {
position: absolute;
width: 400px;
height: 400px;
left: 990px;
top: 104px;

background-image: url(img/image_23.jpg);
}

#head3 {
position: absolute;
width: 340px;
height: 52px;
left: 1020px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text3 {
position: absolute;
width: 340px;
height: 74px;
left: 1020px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rating3 {
position: absolute;
width: 173px;
height: 28px;
left: 1104px;
top: 688px;

background: #BA8B88;
}

#value3 {
position: absolute;
width: 158px;
height: 22px;
left: 1110px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapthird>button {
position: absolute;
width: 160px;
height: 50px;
left: 1110px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.snap4 {
position: absolute;
width: 400px;
height: 400px;
left: 1450px;
top: 104px;

background-image: url(img/image_24.jpg);
}

#head4 {
position: absolute;
width: 340px;
height: 52px;
left: 1480px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text4 {
position: absolute;
width: 340px;
height: 74px;
left: 1480px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rating4 {
position: absolute;
width: 173px;
height: 28px;
left: 1564px;
top: 688px;

background: #BA8B88;
}

#value4 {
position: absolute;
width: 158px;
height: 22px;
left: 1571px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapfourth>button {
position: absolute;
width: 160px;
height: 50px;
left: 1570px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.akcios>button {
position: absolute;
width: 300px;
height: 50px;
left: 810px;
top: 947px;
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #212121;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #212121;
}

.video_dinamikus {
position: absolute;
width: 1780px;
height: 500px;
left: 70px;
top: 3060px;
}

.color {
position: absolute;
width: 1780px;
height: 500px;
left: 0px;
top: 0px;

background: rgba(246, 125, 161, 0.9);
}

.mask_group {
position: absolute;
width: 1800px;
height: 1321.2px;
left: 0px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/image_38.jpg);
opacity: 0.3;
}

#main {
position: absolute;
width: 671px;
height: 56px;
left: 625px;
top: 168px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#sub {
position: absolute;
width: 597px;
height: 22px;
left: 662px;
top: 240px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

text-align: center;

color: #763648;

}

.video_dinamikus>button {
position: absolute;
width: 210px;
height: 50px;
left: 855px;
top: 306px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}

.footer {
position: absolute;
width: 1920px;
height: 460px;
left: 0px;
top: 3660px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #212121;
}

.szallfiz {
position: absolute;
width: 1920px;
height: 80px;
left: 1px;
top: 4120px;
}

