.wrapper {
position: absolute;
width: 1920px;
height: 4200px;
top: 0px;
left: 0px;

background: #FFFFFF;
}

button:hover, .button:hover {
cursor: pointer;
}

.fejlec{
position: absolute;
width: 1920px;
height: 160px;
left: 0px;
top: 0px;
}

.alap {
position: absolute;
width: 1920px;
height: 160px;
left: 0px;
top: 0px;

background: #212121;
}

.alap #number {
position: absolute;
width: 112px;
height: 20px;
left: 50px;
top: 44px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-transform: uppercase;

color: #A6A6A6;
}

.alap #kapcsolat {
position: absolute;
width: 57px;
height: 15px;
left: 200px;
top: 47px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: #FFFFFF;
}

.alap #pix11 {
position: absolute;
width: 1px;
height: 17px;
left: 272px;
top: 47px;

background: #5C5C5C;
}

.alap #rolunk {
position: absolute;
width: 40px;
height: 15px;
left: 287px;
top: 47px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;

}

.alap #pix12 {
position: absolute;
width: 1px;
height: 17px;
left: 341px;
top: 47px;

background: #5C5C5C;
}

.alap #fizz_szall {
position: absolute;
width: 91px;
height: 15px;
left: 356px;
top: 47px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;
}

.alap #nyil {

position: absolute;
width: 9px;
height: 5.23px;
left: 452.86px;
top: 47px;

color: #FFFFFF;

}

.alap #teszttema {
position: absolute;
width: 203px;
height: 45px;
left: 856px;
top: 30px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #F67DA1;


}

.alap #pix13  {
/* 1px */
position: absolute;
width: 240px;
height: 1px;
left: 1421px;
top: 73px;

background: #5C5C5C;

}

.alap #kereses {
/* keresés... */

position: absolute;
width: 200px;
height: 18px;
left: 1426px;
top: 46px;

background: #212121;
border:none;
color: #FFFFFF;
}

.nav {
position: absolute;
width: 1298px;
height: 20px;
left: 308px;
top: 124px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.nav>span {
margin-left: 20px;
}

.elony_sav {
position: absolute;
width: 1920px;
height: 60px;
left: 0px;
top: 160px;

}

.elony_sav img {
position: absolute;
width: 22.64px;
height: 26px;
left: 777px;
top: 17px;
}

.elony_sav #kiz {
position: absolute;
width: 324px;
height: 18px;
left: 819px;
top: 22px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #F67DA1;
}

.nagyban_1 {
position: absolute;
width: 1921px;
height: 3601px;
left: 1px;
top: 220px;

}

.alap2 {
position: absolute;
width: 1920px;
height: 700px;
left: 1px;
top: 0px;

background: #FEDFE9;
}

.nagyban {
position: absolute;
width: 1920px;
height: 700px;
left: 2px;
top: 0px;
}

.alap3 {
position: absolute;
width: 1920px;
height: 700px;
left: 2px;
top: 0px;

background: #FEE1E6;
}

.shutter1, .shutter2, .shutter3, .shutter4, .shutter5 {
position: absolute;
width: 1200px;
height: 1200px;
left: 722px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1477405955.png);
}

.prevNext a {
	background: #FEE1E6;
	position: absolute;
    width: 30px;
    height: 17.44px;
	top: 335px;
	left: 0;
	text-decoration: none;
}

.prevNext a+a {
	left: auto;
	right: 0;
}

s:target ~ .prevNext >* {visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}

.bullets {
position: absolute;
width: 110px;
height: 10px;
left: 906px;
top: 680px;
}

.bullets > a {
	display: inline-block;
	width:       10px;
	height:      10px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(33, 33, 33, 0.2);
	border-radius: 5px;
}

.bullets > a+a {
	background: rgba(33, 33, 33, 0.5); /* Dim all but first */
	margin-left: 10px;
	}

bullets > a:hover {
	background: rgba(33, 33, 33, 0.2), 0.7) !important;
}

s:target ~ .bullets >* {background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: #212121;}
#s2:target ~ .bullets >*:nth-child(2) {background: #212121;}
#s3:target ~ .bullets >*:nth-child(3) {background: #212121;}
#s4:target ~ .bullets >*:nth-child(4) {background: #212121;}
#s5:target ~ .bullets >*:nth-child(5) {background: #212121;}


.alap3 #grad {
position: absolute;
width: 250px;
height: 700px;
left: 722px;
top: 0px;

background: linear-gradient(270deg, rgba(254, 223, 233, 0) 0%, #FEDFE9 100%);
}

.alap2 #head {
position: absolute;
width: 441px;
height: 130px;
left: 178px;
top: 253px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 130px;
/* identical to box height, or 100% */

text-transform: uppercase;

color: #212121;
}

.alap2 #mess {
position: absolute;
width: 580px;
height: 74px;
left: 185px;
top: 400px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #BA8B88;
}

.alap2 .button {
position: absolute;
width: 210px;
height: 50px;
left: 186px;
top: 506px;

background: #212121;
}

.button #bttn_text {
position: absolute;
width: 77px;
height: 18px;
left: 49px;
top: 17px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}

.button #bttn_arr {
position: absolute;
width: 9.35px;
height: 17px;
left: 143px;
top: 20px;

color: #FFFFFF;
}

.alap2 #angle_l {
position: absolute;
width: 30px;
height: 17.44px;
left: 39px;
top: 335px;

color: #212121;
}

.alap2 #angle_r {
position: absolute;
width: 30px;
height: 17.44px;
left: 1883px;
top: 335px;

color: #212121;
}

.mozaik {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 410px 410 px;
position: absolute;
width: 1780px;
height: 820px;
left: 71px;
top: 990px;

}

.kozbanl {
position: absolute;
left: 0%;
right: 50.56%;
top: 0%;
bottom: 51.22%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1667920105.png);

}

.kisbanl1 {
position: absolute;
left: 0%;
right: 75.84%;
top: 51.22%;
bottom: 0%;
background-repeat: no-repeat;
background: url(img/shutterstock_1354457348.jpg);
}

.kisbanl2 {
position: absolute;
left: 25.28%;
right: 50.56%;
top: 51.22%;
bottom: 0%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1377250259.png);
}

.kisbanr1 {
position: absolute;
left: 50.56%;
right: 25.28%;
top: 0%;
bottom: 51.22%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1020418684.png);
}

.kisbanr2 {
position: absolute;
left: 75.84%;
right: 0%;
top: 0%;
bottom: 51.22%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1710322954.png);
}

.kozbanr {
position: absolute;
left: 50.62%;
right: -0.06%;
top: 51.22%;
bottom: 0%;
background-repeat: no-repeat;
background-image: url(img/shutterstock_1310794589.png);
}

.image {
position: absolute;
left: 90.06%;
right: -0.45%;
top: 0px;
bottom: -16.95%;
background-repeat: no-repeat;
background-image: url(img/image.png);
filter: blur(84px);
}

#h1 {
position: absolute;
left: 2.25%;
right: 0%;
top: 10%;
bottom: 87.44%;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */

text-transform: uppercase;

color: #212121;
}

#h2 {
position: absolute;
left: 2.25%;
right: 0%;
top: 10%;
bottom: 36.22%;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */

text-transform: uppercase;

color: #212121;}

#h3 {
position: absolute;
left: 0%;
right: 10%;
top: 10%;
bottom: 36.22%;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */

text-align: right;
text-transform: uppercase;

color: #FFFFFF;}

#h4 {
position: absolute;
left: 5.73%;
top: 10%;


font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */

text-align: right;
text-transform: uppercase;

color: #FFFFFF;}

#h5 {
position: absolute;
left: 0%;
right: 2.25%;
top: 10%;
bottom: 87.44%;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */

text-align: right;
text-transform: uppercase;

color: #212121;
}

#h6 {
position: absolute;
left: 0%;
right: 2.19%;
top: 10%;
bottom: 36.22%;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */

text-align: right;
text-transform: uppercase;

color: #212121;}

.akcios {
position: absolute;
width: 1780px;
height: 974px;
left: 70px;
top: 1956px;
}

.akcios #akcterm {
position: absolute;
width: 251px;
height: 26px;
left: 835px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 26px;
/* identical to box height, or 93% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

.snap1 {
position: absolute;
width: 400px;
height: 400px;
left: 70px;
top: 104px;

background-image: url(img/image_21.jpg);
}

#head1 {
position: absolute;
width: 340px;
height: 52px;
left: 100px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text1 {
position: absolute;
width: 340px;
height: 74px;
left: 100px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rate1 {
position: absolute;
width: 173px;
height: 28px;
left: 184px;
top: 688px;
}

.rate1:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate1:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate1:not(:checked) > label:before {
    content: '★ ';
}
.rate1 > input:checked ~ label {
    color: #ffc700;
}
.rate1:not(:checked) > label:hover,
.rate1:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate1 > input:checked + label:hover,
.rate1 > input:checked + label:hover ~ label,
.rate1 > input:checked ~ label:hover,
.rate1 > input:checked ~ label:hover ~ label,
.rate1 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#value1 {
position: absolute;
width: 158px;
height: 22px;
left: 190px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapfirst>button   {
position: absolute;
width: 160px;
height: 50px;
left: 190px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.snap2 {
position: absolute;
width: 400px;
height: 400px;
left: 530px;
top: 104px;

background-image: url(img/image_22.jpg);
}

#head2 {
position: absolute;
width: 340px;
height: 52px;
left: 560px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text2 {
position: absolute;
width: 340px;
height: 74px;
left: 560px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rate2 {
position: absolute;
width: 173px;
height: 28px;
left: 644px;
top: 688px;
}

.rate2:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate2:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate2:not(:checked) > label:before {
    content: '★ ';
}
.rate2 > input:checked ~ label {
    color: #ffc700;
}
.rate2:not(:checked) > label:hover,
.rate2:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate2 > input:checked + label:hover,
.rate2 > input:checked + label:hover ~ label,
.rate2 > input:checked ~ label:hover,
.rate2 > input:checked ~ label:hover ~ label,
.rate2 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#value2 {
position: absolute;
width: 158px;
height: 22px;
left: 650px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapsec>button {
position: absolute;
width: 160px;
height: 50px;
left: 650px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.snap3 {
position: absolute;
width: 400px;
height: 400px;
left: 990px;
top: 104px;

background-image: url(img/image_23.jpg);
}

#head3 {
position: absolute;
width: 340px;
height: 52px;
left: 1020px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text3 {
position: absolute;
width: 340px;
height: 74px;
left: 1020px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rate3 {
position: absolute;
width: 173px;
height: 28px;
left: 1104px;
top: 688px;
}

.rate3:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate3:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate3:not(:checked) > label:before {
    content: '★ ';
}
.rate3 > input:checked ~ label {
    color: #ffc700;
}
.rate3:not(:checked) > label:hover,
.rate3:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate3 > input:checked + label:hover,
.rate3 > input:checked + label:hover ~ label,
.rate3 > input:checked ~ label:hover,
.rate3 > input:checked ~ label:hover ~ label,
.rate3 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#value3 {
position: absolute;
width: 158px;
height: 22px;
left: 1110px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapthird>button {
position: absolute;
width: 160px;
height: 50px;
left: 1110px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.snap4 {
position: absolute;
width: 400px;
height: 400px;
left: 1450px;
top: 104px;

background-image: url(img/image_24.jpg);
}

#head4 {
position: absolute;
width: 340px;
height: 52px;
left: 1480px;
top: 534px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#text4 {
position: absolute;
width: 340px;
height: 74px;
left: 1480px;
top: 599px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

color: #A2A2A2
}

.rate4 {
position: absolute;
width: 173px;
height: 28px;
left: 1564px;
top: 688px;
}

.rate4:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate4:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate4:not(:checked) > label:before {
    content: '★ ';
}
.rate4 > input:checked ~ label {
    color: #ffc700;
}
.rate4:not(:checked) > label:hover,
.rate4:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate4 > input:checked + label:hover,
.rate4 > input:checked + label:hover ~ label,
.rate4 > input:checked ~ label:hover,
.rate4 > input:checked ~ label:hover ~ label,
.rate4 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#value4 {
position: absolute;
width: 158px;
height: 22px;
left: 1571px;
top: 737px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
text-decoration-line: line-through;

color: #A1A1A1;
}

.snapfourth>button {
position: absolute;
width: 160px;
height: 50px;
left: 1570px;
top: 789px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
}

.akcios>button {
position: absolute;
width: 300px;
height: 50px;
left: 810px;
top: 947px;
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #212121;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #212121;
}

.video_dinamikus {
position: absolute;
width: 1780px;
height: 500px;
left: 70px;
top: 3060px;
}

.color {
position: absolute;
width: 1780px;
height: 500px;
left: 0px;
top: 0px;

background: rgba(246, 125, 161, 0.9);
}

.mask_group {
position: absolute;
width: 1800px;
height: 500px;
left: 0px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/image_38.jpg);
opacity: 0.3;
}

#main {
position: absolute;
width: 671px;
height: 56px;
left: 625px;
top: 168px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

text-align: center;
text-transform: uppercase;

color: #212121;
}

#sub {
position: absolute;
width: 597px;
height: 22px;
left: 662px;
top: 240px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

text-align: center;

color: #763648;

}

.video_dinamikus>button {
position: absolute;
width: 210px;
height: 50px;
left: 855px;
top: 306px;
background: black;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}

.footer {
position: absolute;
width: 1920px;
height: 460px;
left: 0px;
top: 3660px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #212121;
}

.kapcsolatfooter {
position: absolute;
width: 686px;
height: 18px;
left: 617px;
top: 101px;

}

.menu {
position: absolute;
width: 1042px;
height: 18px;
left: 439px;
top: 41px;
}

#kapcs {
position: absolute;
width: 67px;
height: 18px;
left: 0px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

#akcis {
position: absolute;
width: 109px;
height: 18px;
left: 107px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

#adatv {
position: absolute;
width: 161px;
height: 18px;
left: 256px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

#vasarl {
position: absolute;
width: 126px;
height: 18px;
left: 458px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-align: center;

color: #FFFFFF;
}

#fiz_szallit {
position: absolute;
width: 106px;
height: 18px;
left: 625px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

#adatved {
position: absolute;
width: 88px;
height: 18px;
left: 771px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

#seg {
position: absolute;
width: 57px;
height: 18px;
left: 899px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

#rolu {
position: absolute;
width: 46px;
height: 18px;
left: 996px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.pixf1 {
position: absolute;
width: 1px;
height: 17px;
left: 87px;
top: 0px;

background: #5C5C5C;
}

.pixf2 {
position: absolute;
width: 1px;
height: 17px;
left: 236px;
top: 0px;

background: #5C5C5C;
}

.pixf3 {
position: absolute;
width: 1px;
height: 17px;
left: 438px;
top: 0px;

background: #5C5C5C;
}

.pixf4 {
position: absolute;
width: 1px;
height: 17px;
left: 605px;
top: 0px;

background: #5C5C5C;
}

.pixf5 {
position: absolute;
width: 1px;
height: 17px;
left: 751px;
top: 0px;

background: #5C5C5C;
}

.pixf6 {
position: absolute;
width: 1px;
height: 17px;
left: 879px;
top: 0px;

background: #5C5C5C;
}

.pixf7 {
position: absolute;
width: 1px;
height: 17px;
left: 976px;
top: 0px;

background: #5C5C5C;
}

#loc {
position: absolute;
width: 193px;
height: 18px;
left: 0px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #A6A6A6;
}

#mail {
position: absolute;
width: 130px;
height: 18px;
left: 233px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

#tel {
position: absolute;
width: 100px;
height: 18px;
left: 403px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #A6A6A6;
}

#up {
position: absolute;
width: 143px;
height: 18px;
left: 543px;
top: 0px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #A6A6A6;
}

.pixf11 {
position: absolute;
width: 1px;
height: 17px;
left: 213px;
top: 0px;

background: #5C5C5C;
}

.pixf12{
position: absolute;
width: 1px;
height: 17px;
left: 384px;
top: 0px;

background: #5C5C5C;
}

.pixf13 {
position: absolute;
width: 1px;
height: 17px;
left: 524px;
top: 0px;

background: #5C5C5C;
}

.language {
position: absolute;
width: 138px;
height: 30px;
left: 891px;
top: 274px;
}

#language-picker-select {
box-sizing: border-box;

position: absolute;
width: 60px;
height: 30px;
left: 78px;
top: 0px;
background: #212121;
border: 1px solid #5C5C5C;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;
}

.huf_eng {
position: absolute;
width: 53px;
height: 15px;
left: 0px;
top: 7px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;
}

.pixf21 {
position: absolute;
width: 1px;
height: 17px;
left: 27px;
top: 0px;

background: #5C5C5C;
}

#eng {
padding-left: 16px;
}

#copyr {
position: absolute;
width: 109px;
height: 15px;
left: 905px;
top: 231px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #A6A6A6;
}

#footermess {
position: absolute;
width: 1170px;
height: 124px;
left: 381px;
top: 324px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 22px;
/* or 169% */

text-align: center;

color: #767676;
}

.social {
position: absolute;
width: 225px;
height: 21px;
left: 847px;
top: 169px;
}

.fb {
position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/fb.png);
}

.insta {
position: absolute;
width: 21px;
height: 21px;
left: 51px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/insta.png);
}

.yt {
position: absolute;
width: 21px;
height: 21px;
left: 102px;
top: 4px;
background-repeat: no-repeat;
background-image: url(img/youtube.png);
}

.mess {
position: absolute;
width: 21px;
height: 21px;
left: 153px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/mess.png);
}

.twitter {
position: absolute;
width: 21px;
height: 21px;
left: 204px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/twitter.png);
}

.szallfiz {
position: absolute;
width: 1920px;
height: 80px;
left: 1px;
top: 4120px;

background: #FFFFFF;
}

.logok {
position: absolute;
width: 920px;
height: 45.92px;
left: 508px;
top: 19px;
}

.gls {
position: absolute;
width: 87.66px;
height: 23.38px;
left: 0px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/gls.jpg);
}

.dpd {
position: absolute;
width: 90.16px;
height: 39.24px;
left: 118.55px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/dpd.png);
}

.paypal {
position: absolute;
width: 88.49px;
height: 23.38px;
left: 242.1px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/paypal.png);
}

.masterc {
position: absolute;
width: 133.58px;
height: 34.23px;
left: 360.65px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/masterc.png);
}

.maestro {
position: absolute;
width: 111.03px;
height: 31.72px;
left: 515.1px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/maestro.png);
}

.szepk {
position: absolute;
width: 96.01px;
height: 45.92px;
left: 657.02px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/szepk.png);
}

.arukereso {
position: absolute;
width: 133.58px;
height: 16.31px;
left: 786.42px;
top: 0px;
background-repeat: no-repeat;
background-image: url(img/arukereso.png);
}

